*.profraw
*.pyc
source/compile_commands.json
source/python/.idea
source/python/neuropod.egg-info/
source/python/build/
source/python/dist/
.idea/
bazel-bin
bazel-genfiles
bazel-out
bazel-source
bazel-testlogs
.vscode/
source/neuropod/python/libneuropod.so
source/neuropod/python/neuropod_multiprocess_worker
source/neuropod/python/neuropod_native.so
