*.profraw
*.pyc
source/compile_commands.json
source/python/neuropod.egg-info/
source/python/build/
source/python/dist/
.idea/
bazel-bin
bazel-genfiles
bazel-out
bazel-source
bazel-testlogs
.vscode/
.neuropod_venv/
.neuropod_test_base/
source/python/neuropod/libneuropod.so
source/python/neuropod/neuropod_multiprocess_worker
source/python/neuropod/neuropod_native.so
