# Pass python virtual envs through to the test runner
build --test_env=VIRTUAL_ENV

# Use an internal toolchain to isolate the build from system libraries
build --crosstool_top=@llvm_toolchain//:toolchain

# Use C++11
build --cxxopt='-std=c++11'

# We need this to be compatible with libtorch
build --cxxopt='-D_GLIBCXX_USE_CXX11_ABI=0'
