# Pass python virtual envs through to the test runner
build --test_env=VIRTUAL_ENV

# Use an internal toolchain to isolate the build from system libraries
build --crosstool_top=@llvm_toolchain//:toolchain

# Use C++11
build --cxxopt='-std=c++11'

# We need this to be compatible with libtorch
build --cxxopt='-D_GLIBCXX_USE_CXX11_ABI=0'

# Disable strict python version checking added in Bazel 0.27
build --extra_toolchains=@bazel_tools//tools/python:autodetecting_toolchain_nonstrict

# Use ASAN
build:asan -c dbg --copt='-fsanitize=address' --copt='-fno-omit-frame-pointer' --linkopt='-fsanitize=address' --test_env=ASAN_OPTIONS --test_env=ASAN_SYMBOLIZER_PATH
