Checks: '*,
  -abseil-no-internal-dependencies,
  -android-*,
  -bugprone-branch-clone,
  -bugprone-exception-escape,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-suspicious-semicolon,
  -cert-dcl03-c,
  -cert-dcl16-c,
  -cert-dcl21-cpp,
  -cert-dcl54-cpp,
  -cert-dcl59-cpp,
  -cert-err09-cpp,
  -cert-err58-cpp,
  -cert-err61-cpp,
  -cert-fio38-c,
  -cert-msc30-c,
  -cert-msc32-c,
  -cert-msc51-cpp,
  -cert-oop11-cpp,
  -clang-analyzer-optin.performance.Padding,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-c-copy-assignment-signature,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -fuchsia-*,
  -google-readability-avoid-underscore-in-googletest-name,
  -google-readability-braces-around-statements,
  -google-readability-function-size,
  -google-readability-namespace-comments,
  -google-readability-todo,
  -google-runtime-references,
  -hicpp-avoid-c-arrays,
  -hicpp-braces-around-statements,
  -hicpp-deprecated-headers,
  -hicpp-explicit-conversions,
  -hicpp-function-size,
  -hicpp-invalid-access-moved,
  -hicpp-member-init,
  -hicpp-move-const-arg,
  -hicpp-named-parameter,
  -hicpp-new-delete-operators,
  -hicpp-no-array-decay,
  -hicpp-no-malloc,
  -hicpp-noexcept-move,
  -hicpp-special-member-functions,
  -hicpp-static-assert,
  -hicpp-undelegated-constructor,
  -hicpp-uppercase-literal-suffix,
  -hicpp-use-auto,
  -hicpp-use-emplace,
  -hicpp-use-equals-default,
  -hicpp-use-equals-delete,
  -hicpp-use-noexcept,
  -hicpp-use-nullptr,
  -hicpp-use-override,
  -hicpp-vararg,
  -llvm-header-guard,
  -llvm-include-order,
  -llvm-namespace-comment,
  -misc-definitions-in-headers,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -misc-unused-using-decls,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -objc-*,
  -performance-unnecessary-value-param,
  -performance-noexcept-move-constructor,
  -portability-simd-intrinsics,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-magic-numbers,
  -readability-misleading-indentation,
  -readability-uppercase-literal-suffix'

CheckOptions:
  - { key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions,                        value: 1 }
  - { key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor,                             value: 1 }
  - { key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: 1 }
  - { key: performance-move-const-arg.CheckTriviallyCopyableMove,                                       value: 0 }
  - { key: readability-identifier-naming.ClassCase,                                                     value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,                                                  value: lower_case }
  - { key: readability-identifier-naming.NamespaceCase,                                                 value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberSuffix,                                           value: _ }
  - { key: readability-identifier-naming.StructCase,                                                    value: CamelCase  }
  - { key: readability-implicit-bool-conversion.AllowPointerConditions,                                 value: 1 }
  - { key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals,                                          value: 1 }